<h2>Main Portal</h2>
<hr>

<div class="btn-group-vertical btn-group-lg" role="group">
  <a href="/stylist_list"><button class="btn btn-info">View Stylists</button></a>
  <a href="/stylist/new"><button class="btn btn-info">Add New Stylist</button></a>
  <a href="/client/new"><button class="btn btn-info">Add New Client</button></a>
</div>
