<h2> Stylists</h2>
<hr>

<h3>Current Stylists</h3>
<p> Select first name to view clients </p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
        <% if @stylists.any?() %>
          <tr>
            <% @stylists.each do |stylist| %>
            <td><a href="/stylist/<%= stylist.id %>"><%= stylist.first_name %></a></td>
            <td><%= stylist.last_name %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% else %>
 <p><span class="text-danger">No stylists saved</span></p>
<% end %>


<a href="/" class="btn btn-info">Home</a>
